.Rproj.user
.httr-oauth
.Rhistory
.RData
.DS_Store
**/*.csv
*.swp
.idea
plumber.Rcheck
plumber_*.tar.gz
.temp
.old
.old_impl

*.job
google_analytics.js
*.Rproj
.shinyapps/idep/data
shinyapps/ExtractData/data
shinyapps/idep/data
data_go
old_impl
old
RSet
shinylog
myDO.md
shinyImp 
RSet
newVersion
.vscode

web/node_modules